@import 'swiper/css/swiper.css';
$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}

.text__custom {
  height: auto !important;
  white-space: unset !important;
  width: 100%
}
.column {
	.mx-datepicker {
		width: 100%;
		.mx-input {
			height: 40px;
	  }
  }
}

.b-b-sm {
    border-bottom: 1px solid #efefef;
    margin-left: none;
    margin-right: none;
    padding-left: none;
    padding-right: none;
    list-style-type: none;
    text-align: left;
    span {
      padding: 0.5rem 0 0 1rem;
      display: inline-block;
    }
}
.r-b-l {
    border-left: none !important;
    padding: 0 !important;
}
.content {
  .r-m-lt {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
}
